@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Leave Management System</h1>
    <p>Welcome to my <strong>Employee Leave System</strong></p>
    <br />
    <p>Made in <strong>C#</strong> and running on <strong>Azure Web Services</strong></p>
</div>
